################################################################################
# GITIGNORE
# repository is place for source code not for binaries if you need to include
# binaries in repository then consider appropriate values .gitattributes
################################################################################
# DIRECTORIES to ignore
################################################################################
**/[Tt]mp/*
node_modules

################################################################################
# FILES to ignore
################################################################################
*~
**/.DS_Store
**/.thumbs.db
**/*.sw[mnop]
